<html>
<head>
    <title>inkliings: start a handshake! </title>
	<link rel="stylesheet" href = "/static/theme.css" type = "text/css">
	<link rel = "stylesheet" href = "/css/bootstrap.min.css" type = "text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "container">
		<header>
			<div>
				<div id = "logo"> 
						<img src = "/static/logo.png"> 
							<div id = "nav">
							<a href = "/"> Home </a>
							<a href = ""> About </a>
							</div>							
				</div>	
				
			</div>	
				<div id = "tag">
					Start a handshake 
				</div>
		</header>
	
			<div class = "container-fluid">
		<div class = "row">
			<div class = "col-md-7 col-md-offset-3">
			<p>
				Welcome to inkliings! Here, we optimize stalking. <br> <br>
				
				Simply type in the name of the person you wish to get an inkliing of, and get a quick snapshot of their recent tweets, instagram 
				photos and basic professional and (coming soon) education information from LinkedIn! 
				</p>
			</div>
		</div>
		</div>		
	
		
	</div>
</body>
</html>