<html>
<head>
    <title>inkliings: start a handshake! </title>
	<link rel="stylesheet" href = "/static/theme.css" type = "text/css">
	<link rel = "stylesheet" href = "/css/bootstrap.min.css" type = "text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#tfbutton2").click(function(){
			$.getJSON("/tweet", function(result){
					$("#socialMedia").append(JSON.stringify(result.tweets[0].text) + '<br>' + JSON.stringify(result.tweets[1].text) + '<br>' + JSON.stringify(result.tweets[2].text));
			});
		
			$.getJSON("/insta", function(results){
				$("#socialMedia2").append(JSON.stringify(results.instagramUser.username));
			});
			
		});
	});
	
	</script>
</head>
<body>
	<div class = "container">
		<header>
			<div>
				<div id = "logo"> 
						<img src = "/static/logo.png"> 
							<div id = "nav">
							<a href = " "> Home </a>
							<a href = "/about"> About </a>
							</div>							
				</div>	
				
			</div>	
				<div id = "tag">
					Start a handshake 
				</div>
		</header>
	
		<div class = "container-fluid">
		<div class = "row">
			<div class = "col-md-4 col-md-offset-4">
				<input type="text" class="rounded" />
				<input type="button" value=">" id="tfbutton2" onclick = "test();">
			</div>
		</div>
		</div>
		<div id = "socialMedia">
		</div>
		<br>
		<div id = "socialMedia2">
		</div>
	
		
	</div>
</body>
</html>