<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Inkliings</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key:   <%= LINKEDIN_KEY %>
        onLoad:    linkedinOnLoad
        authorize: true
    </script>
    <script type="text/javascript" src="/static/linkedin.js"></script>
</head>
<body>
<h1>LinkedIn</h1>
<span id="linkedin-name"></span><br>
<span id="linkedin-headline"></span><br>

<h1>Instagram</h1>
<% if (instagramUserError) { %>
No Instagram account found.
<% } else { %>
<%= instagramUser.username %>
<img src="<%= instagramUser.profile_picture %>">

<% if (instagramMediaError) { %>
This user's Instagram is private.
<% } else { %>
<p>
    <% for (var i = 0; i < instagramNumPhotos; i++) { %>
    <img src="<%= instagramPhotos[i]['images']['thumbnail']['url'] %>">
    <% } %>
</p>
<% } %>
<% } %>
</body>
</html>